<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <div th:replace="fragments/header::header"></div>  <!-- 이 부분의 헤더를 fragments의 header로 대체한다는 뜻 -->

    <div layout:fragment="content">

    </div>

    <div th:replace="fragments/footer::footer"></div>  <!-- 이 부분의 헤더를 fragments의 header로 대체한다는 뜻 -->
</body>
</html>