<!-- 게시판 수정 HTML -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
  <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8" />
  <title>게시글 | Woojin Shop</title>
  <!-- jquery 적용 -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
  <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">

  <script th:inline="javascript">
    $(document).ready(function(){
      let errorMessage = [[${errorMessage}]]; <!-- th:inline="javascript"이 있어야만 에러메시지 인식됨 -->
      if(errorMessage != null){
        alert(errorMessage);
      }
    });

    function deleteBoard(obj){
      var boardId = obj.dataset.id;
      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");

      var url = "/boards/" + boardId;

      $.ajax({
        url      : url,
        type     : "DELETE",
        beforeSend : function(xhr){
          /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
          xhr.setRequestHeader(header, token);
        },
        dataType : "json",
        cache   : false,
        success  : function(result, status){
          location.href='/board';
          alert("게시글이 삭제되었습니다.")
        },
        error : function(jqXHR, status, error){

          if(jqXHR.status == '401'){
            alert('로그인 후 이용해주세요');
            location.href='/members/login';
          } else{
            alert(jqXHR.responseJSON.message);
          }

        }
      });
    }

  </script>

</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .input-group {
      margin-bottom: 15px
    }

    .fieldError {
      color: #bd2130;
    }
  </style>
</th:block>

<body>
<div layout:fragment="content">

  <form role="form" method="post" enctype="multipart/form-data" th:action="@{/boards/{id}(id=${boardFormDto.id})}" th:object="${boardFormDto}">
    <input type="hidden" name="_method" value="PUT">
    <div>
      <p class="h2">게시글 수정</p>

      <input type="hidden" th:field="*{id}">

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">제목</span>
        </div>
        <input type="text" th:field="*{title}" class="form-control"
               placeholder="제목을 입력해주세요">
      </div>
      <p th:if="${#fields.hasErrors('title')}"  th:errors="*{title}"
         class="fieldError">Incorrect data</p>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">작성자</span>
        </div>
        <span class="input-group-text" th:text="*{writer}">작성자</span>
        <input type="hidden" th:field="*{writer}">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">게시글 내용</span>
          </div>
          <textarea class="form-control" aria-label="With textarea"
                    th:field="*{content}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
        <p th:if="${#fields.hasErrors('content')}"
           th:errors="*{content}" class="fieldError">Incorrect data</p>
      </div>
    </div>
  </form>
</div>
</body>
</html>