<!-- 게시판 목록 HTML -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
      <meta http-equiv="Content-Type" content = "text/html; charset=UTF-8" />
      <title>게시판 | Woojin Shop</title>
</head>

<!-- 사용자 스트립트 추가 -->
<th:block layout:fragment="script">
      <script th:inline="javascript">

            $(document).ready(function(){
                  $("#searchBtn").on("click",function(e) {
                        e.preventDefault();
                        page(0);  <!-- 페이지 0번으로 세팅 -->
                  });
            });

            function page(page){
                  var searchDateType = $("#searchDateType").val();
                  var searchBy = $("#searchBy").val();
                  var searchQuery = $("#searchQuery").val();

                  location.href="/board/" + page + "?searchDateType=" + searchDateType
                          + "&searchBy=" + searchBy
                          + "&searchQuery=" + searchQuery;
            }

      </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
      <style>
            select {
                  margin-right: 10px;
            }
            .form-control {
                  display: inline;
            }
            input#searchQuery {
                  width: 30%;
            }
            .form-inline.justify-content-center {
                  text-align: center;
            }
            searchDateType, #searchSellStatus, #searchBy {
                  -webkit-appearance: auto;
                  padding: 0.5rem 0.7rem;
            }
      </style>
</th:block>

<body>
<div layout:fragment="content">
      <button id="writeBtn" onclick="location.href='/board/new'" class="btn btn-primary">작성하기</button>
      <form th:action="@{'/board/' + ${items.number}}" role="form" method="get" th:object="${items}">
            <table class="table">
                  <thead>
                  <tr>
                        <td>게시판 번호</td>
                        <td>제목</td>
                        <td>작성자</td>
                        <td>등록일</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="board, status: ${items.getContent()}">
                        <td th:text="${board.id}"></td>
                        <td>
                              <a th:href="'/boards/'+${board.id}" th:text="${board.title}"></a>
                        </td>
                        <td th:text="${board.createdBy}"></td>
                        <td th:text="${board.regTime}"></td>
                  </tr>
                  </tbody>
            </table>

            <!-- 부트 스트랩 사용할 때 재사용 가능 -->
            <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
                  <ul class="pagination justify-content-center">

                        <li class="page-item" th:classappend="${items.first}?'disabled'">
                              <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                                    <span aria-hidden='true'>Previous</span>
                              </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                              <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>

                        <li class="page-item" th:classappend="${items.last}?'disabled'">
                              <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                                    <span aria-hidden='true'>Next</span>
                              </a>
                        </li>
                  </ul>
            </div>

            <div class="form-inline justify-content-center" th:object="${boardSearchDto}">
                  <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
                        <option value="all">전체기간</option>
                        <option value="1d">1일</option>
                        <option value="1w">1주</option>
                        <option value="1m">1개월</option>
                        <option value="6m">6개월</option>
                  </select>
                  <select th:field="*{searchBy}" class="form-control" style="width:auto;">
                        <option value="title">제목</option>
                        <option value="createdBy">작성자</option>
                  </select>
                  <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="검색어를 입력해주세요">
                  <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>

      </form>
</div>
</body>
</html>